:root {
  --first-title-color: #212121;
  --title-color-text: #757575;
  --link-color: #2196f3;
  --main-white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto;
  color: #757575;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.advantages-list, .do-list, .team-list, .social-links__item, .partners-list, .hirop-list, .footter-list__footerlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo-link--light-theme {
  color: var(--main-white-color);
}

.logo-link--dark-theme {
  color: #000000;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
  padding-left: 0;
  margin: 0 auto;
}

.text-web {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin: 0 auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 93px;
  padding-right: 100px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--link-color);
}

.current {
  position: relative;
  color: var(--link-color);
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--link-color);
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contact__item {
  height: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
}

.header-contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-color-text);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--link-color);
}

.icon-letter {
  margin-right: 10px;
  fill: var(--title-color-text);
}

.icon-letter {
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.hiro-s {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/HiroS.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/HiroS.jpg");
}

.hiro-s__title-s {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin: 0 auto;
  padding-bottom: 30px;
}

.hiro-s__button-s {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--link-color);
  border: none;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.advantages {
  padding-top: 94px;
}

.advantages-list__item {
  width: calc((100% - 120px) / 4);
  margin-right: 30px;
}

.advantages-list__item:nth-child(4n) {
  margin-right: 0px;
}

.advantages-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  height: 120px;
}

.advantages-icon__icon {
  width: 70px;
  height: 70px;
  /* outline: 2px solid red; */
}

.advantages-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 30px;
}

.advantages-list__text {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  padding-top: 10px;
}

.do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.do__do-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.do-list {
  margin-right: -30px;
}

.do-list__item {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
}

.do-thumb {
  position: relative;
  margin: 0px;
  /* overflow: hidden; */
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.do-thumb > .label {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 27px 82px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.do-thumb__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.label {
  /* font-family: Roboto;
  font-style: normal; */
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  margin-right: -30px;
}

.team-list__item {
  width: calc((100% - 120px) / 4);
  margin-right: 30px;
  background-color: var(--main-white-color);
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.team-lines {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-white-color);
}

.team-lines__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 10px;
}

.team-lines__profi {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  padding-bottom: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* margin-right: -10px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 2px solid red; */
  width: 206px;
  height: 44px;
  margin-left: 32px;
  margin-right: 32px;
}

.social-links__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  fill: #afb1b8;
  /* transition: background-color var(--link-color); */
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__links:hover, .social-links__links:focus {
  background-color: var(--link-color);
  fill: var(--main-white-color);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  /* fill: currentColor; */
  /* fill: #afb1b8; */
}

.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.partners__title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.partners-list {
  margin-right: -30px;
}

.partners-list__item {
  width: calc((100% - 180px) / 6);
  margin-right: 30px;
}

.partners-list__link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list__link:hover, .partners-list__link:focus {
  fill: var(--link-color);
  border: 1px solid var(--link-color);
}

.partners-list__icon {
  width: 160px;
  height: 60px;
}

.hiro-p {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn__conteiner {
  margin-bottom: 50px;
}

.hirop-list__item {
  display: inline-block;
  margin-right: 8px;
}

.hirop-list__item:nth-child(5n) {
  margin: 0px;
}

.hirop-list__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hirop-list__button:hover, .hirop-list__button:focus {
  color: var(--main-white-color);
  background-color: var(--link-color);
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-list__items {
  width: 370px;
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.project-list__items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-list__items:hover .project-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__items:focus, .project-list__items:hover {
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
}

.project-list__wrap {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  font-weight: 370px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__link {
  cursor: pointer;
}

.project-list__lines {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  /* outline: 2px solid red; */
}

.project-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  padding-bottom: 4px;
}

.project-list__text {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--title-color-text);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  /* align-items: center; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.foofer-first-div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
}

.web-text {
  color: var(--link-color);
}

.footer-address {
  padding-top: 17px;
}

.footter-list__item + .footter-list__item {
  margin-top: 9px;
}

.footter-list__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}

.footter-list__contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  /* transition: color 350ms linear; */
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footter-list__contact:hover, .footter-list__contact:focus {
  color: var(--link-color);
}

.footter-list__social-link {
  padding-top: 12px;
  margin-left: 70px;
}

.footter-list__text-last {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footter-list__soc-links {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* outline: 2px solid red; */
  width: 206px;
  height: 44px;
}

.footter-list__footerlinks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  fill: var(--main-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footter-list__footerlinks:focus, .footter-list__footerlinks:hover {
  background-color: var(--link-color);
  color: var(--main-white-color);
}

.footter-list__links-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-white-color);
}

.footter-list__form-cont {
  margin-left: 94px;
}

.footter-list__form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footter-list__form-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff99;
  background-color: transparent;
}

.footter-list__button {
  width: 200px;
  height: 50px;
  color: var(--main-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--link-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  border: none;
}

.footter-list__send-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--main-white-color);
}

.backdrop {
  position: fixed;
  opacity: 1;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: var(--main-white-color);
}

.close-modal {
  display: block;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
  background-color: var(--main-white-color);
  fill: var(--link-color);
}

.icon-modal {
  margin-top: 6px;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  /* padding-top: 32px; */
}

.form-fild {
  margin-bottom: 10px;
  margin-left: 41px;
  margin-right: 39px;
}

.modal-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
  outline: none;
}

.modal-input-wrap {
  cursor: pointer;
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap:hover, .modal-input-wrap:focus {
  fill: var(--link-color);
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover, .modal-input:focus {
  fill: #2196f3;
  border: 1px solid var(--link-color);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.contract-form {
  margin-left: 54px;
}

.modal-check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-title-color);
  border-radius: 2px;
  display: block;
  margin-right: 7px;
}

.modal-check:checked + .modal-check-text::before {
  background-image: url(../images/icon-check.svg);
  border: none;
}

.contract-link {
  text-decoration: underline;
  color: #2196f3;
  margin-left: 5px;
}

.contract-link:hover, .contract-link:focus {
  color: var(--link-color);
}

.modal-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover, .modal-text:focus {
  border: 1px solid #2196f3;
}

.submit-but {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* display: inline-block; */
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 165px;
  margin-bottom: 40px;
  background: #188ce8;
  border: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-but:hover, .submit-but:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */